<% layout('/layouts/boillerplate') -%>
  <body>
    <div class="row mb-4 mt-3">
      <div class="col-8 offset-2 ">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
      <div class="mb-2 ">
        <label for="title" class="form-label">Title</label>
      <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control "  required/>
      <div class="valid-feedback">entered the valid values</div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea>
<div class="invalid-feedback">please enter the valide description</div>
    </div>
     
    <div class="card col-6 mt-4  show-card listing-card">
      Original Listing image
      <img src="<%= originalUrlImage %>" class="card-img-top show-img" alt="listing img">
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">New Image Upload</label>
      <input name="listing[image]" type="file" class="form-control" />
     </div>
  <div class="row ">
      <div class="mb-3 col-md-6 ">
      <label for="price" class="form-label">price</label>
      <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
      <div class="invalid-feedback">please enter the valid price</div>
    </div>
  <div class="mb-3 col-md-6">
    <label for="country" class="form-label">country</label>
      <input
        name="listing[country]"
        value="<%= listing.country %>"
        type="text" class="form-control" required/>
        <div class="invalid-feedback">please enter the valid country</div>
      </div>
    </div>
      <div class="mb-3" >
        <label for="location" class="form-label">location</label>
      <input
        name="listing[location]"
        value="<%= listing.location %>"
        type="text" class="form-control" required/>
        <div class="invalid-feedback">please entee the valid location</div>
    </div>
    <button class="btn edit-btn mt-4">Edit</button>
  </div>
</div>

    </form>
  </body>

